@model IEnumerable<BusinessDirectoryApp.Models.ContactModel>

@{ ViewData["Title"] = "Index"; }

<h1>Contact(s)</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

@if (Model != null && Model.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linkedClients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td style="text-align:left;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:left;">
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td style="text-align:left;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="text-align:left;">
                @Html.DisplayFor(modelItem => item.linkedClients)
            </td>
            <td style="text-align:right;">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</table>
}
else
{
<div>No contact(s) found.</div>
}