@model IEnumerable<BusinessDirectoryApp.Models.ClientContact>

@{ ViewData["Title"] = "Index"; }

<h1 class="PageTitle">Link Client <=> Contact</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
@if (Model != null && Model.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td style="text-align:left;">
        @Html.DisplayFor(modelItem => item.Client.Name)
    </td>
    <td style="text-align:left;">
        @Html.DisplayFor(modelItem => item.Contact.Email)
    </td>
    <td style="text-align:left;">
        @Html.ActionLink("Unlink", "Delete", new { id = item.ClientID })
    </td>
</tr>
}
    </tbody>
</table>}
else
{
<div>No client/contact links found.</div>}